<!-- Bootstraps jQuery from Google's CDN (with a local fallback) and loads local Javascript files -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{page.baseurl}}public/js/main.js"></script>

<!-- Generates the subnav's table of contents for pages with "layout: pages" front-matter -->
{% if layout == pages %}

<script type="text/javascript">
  $(document).ready(function() {
    $('.tocify').tocify();
  });
</script>

{% endif %}
