/* NAV
   ========================= */

.nav {
  .clearfix();
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: @nav-link-padding;
      &:hover,
      &:focus {
        background-color: @nav-link-hover-bg;
        text-decoration: none;
      }
    }
  }
}

// Tabs
// -------------------------

.tabs {
  border-bottom: 1px solid @tabs-border-color;
  > li {
    float: left;
    margin-bottom: -1px;

    > a {
      margin-right: 2px;
      border: 1px solid transparent;
      border-radius: @border-radius-normal @border-radius-normal 0 0;
      line-height: @line-height-normal;
      &:hover {
        border-color: @tabs-link-hover-border-color @tabs-link-hover-border-color @tabs-border-color;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        border: 1px solid @tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        background-color: @tabs-active-link-hover-bg;
        color: @tabs-active-link-hover-color;
        cursor: default;
      }
    }
  }

  &.justified {
    .justified();
    .tabs-justified();
  }
}

// Pills
// -------------------------

.pills {
  > li {
    float: left;

    > a {
      border-radius: @pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: @pills-active-link-hover-bg;
        color: @pills-active-link-hover-color;
      }
    }
  }
}

// Stacked pills

.stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0;
    }
  }
}

// Nav variations
// -------------------------

.justified {
  width: 100%;

  > li {
    float: none;
     > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  @media (min-width: @screen-sm) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

.tabs-justified {
  border-bottom: 0;

  > li > a {
    margin-right: 0;
    border-radius: @border-radius-normal;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid @tabs-justified-link-border-color;
  }

  @media (min-width: @screen-sm) {
    > li > a {
      border-bottom: 1px solid @tabs-justified-link-border-color;
      border-radius: @border-radius-normal @border-radius-normal 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @tabs-justified-active-link-border-color;
    }
  }
}

// Tabbable tabs
// -------------------------

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Scroll up
// -------------------------

#scroll-up {
  position: fixed;
  top: calc(100% / 1.1049);
  top: -moz-calc(100% / 1.1049);
  top: -o-calc(100% / 1.1049);
  right: 15px;
  bottom: 15px;
  visibility: hidden;
  padding: 8px;
  border-radius: 2px;
  background-color: @gray;
  color: @white;
  text-decoration: none;
  line-height: 0;
  opacity: .5;
  -webkit-transition: opacity 0.3s;
}

@media (min-width: @screen-md) {
  #scroll-up {
    top: calc(100% / 1.05);
    top: -moz-calc(100% / 1.05);
    top: -o-calc(100% / 1.05);
  }
}

#scroll-up:hover {
  opacity: 1;
}

// Subnav
// -------------------------

.subnav {
  display: none;
}

@media (min-width: @screen-md) {
  .subnav .nav > .active > ul {
    display: block;
  }

  .subnav .nav & > li & > li {
    padding: .3em;
    font-size: @nav-font-size;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    > a {
      color: @subnav-color;

      &:hover,
      &:focus,
      &.active {
        color: @subnav-active-color;
      }
    }
  }

  .subnav {
    position: fixed;
    display: block;
    width: 12em;
    text-align: right;
  }
}

// Sidebar
// -------------------------

#sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -16em;
  width: 16em;
  height: 100%;
  background-color: @sidebar-bg;
  color: @sidebar-color;
  font-size: @nav-font-size;
  font-family: @font-family-sans;
  -webkit-transition: all .6s ease 0;
     -moz-transition: all .6s ease 0;
      -ms-transition: all .6s ease 0;
       -o-transition: all .6s ease 0;
          transition: all .6s ease 0;
  a {
    color: @lighter7;
  }
}

#sidebar-wrapper.active {
  left: 16em;
  width: 16em;
  -webkit-transition: all .6s ease 0;
     -moz-transition: all .6s ease 0;
      -ms-transition: all .6s ease 0;
       -o-transition: all .6s ease 0;
          transition: all .6s ease 0;
}

#sidebar-toggle {
  position: fixed;
  top: 14px;
  left: 12px;
  display: block;
  width: 1.5em;
  color: @lighter7;
  background-color: transparent;
  text-align: center;
  font-size: 1.75em;
  opacity: .7;
  cursor: pointer;
}

a#sidebar-toggle {
  color: @lighter7;
}

#sidebar-toggle:after {
  display: block;
  color: @lighter7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  content:"\f0c9";
  font-family: FontAwesome;
}

#sidebar-button:before {
  display: block;
  color: @lighter7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  content:"\f0c9";
  font-family: FontAwesome;
}

.sidebar-nav-item {
  display: block;
  padding: @component-padding;
  line-height: @line-height-xsmall;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  border-color: transparent;
  background-color: rgba(255,255,255,.085);
  color: @sidebar-links;
  text-decoration: none;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding-top: 54px;
  width: 16em;
  list-style: none;
}

.sidebar-item {
  padding: 16px;
  p:last-child {
    margin-bottom: 0;
  }
}

.sidebar-header {
  margin-bottom: 0;
  margin-left: 17px;
  font-weight: @font-weight-bold;
  font-size: 20px;
}

.sidebar-footer,
.sidebar-version {
  display: block;
  margin: 0;
  color: @lighter3;
  word-break: break-word;
  line-height: @line-height-xsmall;
}

.sidebar-footer  {
  padding: 7px 15px 0;
}

.sidebar-version {
  padding: 0 15px 7px;
}

.divider {
  .nav-divider(@sidebar-divider);
}
