/* Sections
   ========================= */

.partial {
  -webkit-transition: opacity .6s ease-out;
}

// Hero
// -------------------------

.hero {
  padding: 50px 0;
  display: table;
  width: 100%;
  height: auto;
  background-color: @black;
  color: @white;
}

.hero-name {
  margin: 50px 0 0;
  color: @white;
  font-weight: @font-weight-bold;
  line-height: 1;
  font-size: 43px;
  letter-spacing: -.04em;
}

.hero-tagline {
  margin: 5px 0 12px;
  color: #bdc3c7;
  font-weight: @font-weight-light;
  font-size: 28px;
  line-height: 1.1818;
}

@media (min-width: @screen-sm) {
  .hero {
    height: 100%;
    padding: 220px 0;
      /*
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../public/images/hero-bg.jpg');
      background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../public/images/hero-bg.jpg');
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../public/images/hero-bg.jpg');
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
    }*/
    background: @black;
    background: -moz-linear-gradient(top, @lighter1, @black);
    background: -webkit-linear-gradient(top, @lighter1, @black);
    background: -ms-linear-gradient(top, @lighter1, @black);
    background: -o-linear-gradient(top, @lighter1, @black);
    background: linear-gradient(top, @lighter1, @black);
  }

  .hero-name {
    margin: 0;
    color: @white;
    font-weight: @font-weight-bold;
    line-height: 1.2352;
    font-size: 51px;
    letter-spacing: -.04em;
  }

  .hero-tagline {
    margin: 2px 0 22px;
    font-weight: @font-weight-light;
    font-size: 33px;
    line-height: 1.24;
  }
}

// About
// -------------------------


.about {
    padding: 150px 0;
    background-color: @white;
    text-align: center;
  }

.metrics {
    padding: 150px 0;
    background-color: @lighter9;
    text-align: center;
  }

.learn-more {
    padding: 50px 0;
    background-color: @white;
    text-align: center;
  }

// Metrics
// -------------------------

.metrics {
  bottom: 0;
  width: 100%;
  height: auto;
  background: transparent;
  color: @lighter9;
  transition-duration: .5s;
  transition-property: all;

  p {
    text-shadow: none;
    letter-spacing: 0;
    font-weight: @font-weight-normal !important;
    font-size: 1.6em;
    line-height: 1.2em;

    &.metrics-slogans {
      font-size: 16px;
      a {
        color: @white;
      }
    }
  }

  h2 {
    margin: 0 0 1px;
    padding: 15px 0 0;
    border-bottom: medium none;
    letter-spacing: 0;
    font-weight: @font-weight-normal;
    font-size: 2.4em;
    line-height: 1;
  }
}
