<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{site.project.tagline}}">
<meta name="author" content="{{site.company.name}}">

<title>
{% include partials/title.liquid %}
</title>

<!-- Icons -->
<link rel="shortcut icon" sizes="32x32" href="{{page.baseurl}}public/icons/favicon.ico">  <!-- Favicon -->
<link rel="shortcut icon" sizes="196x196" href="{{page.baseurl}}public/icons/apple-touch-icon.png"> <!-- Android icon format -->
<link rel="apple-touch-icon" sizes="144x144" href="{{page.baseurl}}public/icons/apple-touch-icon.png"> <!-- Apple icon format -->

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="{{page.baseurl}}public/css/main.min.css">
<link type="text/css" rel="stylesheet" href="{{page.baseurl}}public/css/custom.css">
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
