<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{site.project.tagline}}">
<meta name="author" content="{{site.company.name}}">

<title>
{% include partials/title.liquid %}
</title>

<!-- Icons -->
<link rel="shortcut icon" sizes="32x32" href="{{page.baseurl}}public/images/favicon.ico">  <!-- Favicon -->
<link rel="shortcut icon" sizes="196x196" href="{{page.baseurl}}public/images/apple-touch-icon.png"> <!-- Android -->
<link rel="apple-touch-icon" sizes="144x144" href="{{page.baseurl}}public/images/apple-touch-icon.png"> <!-- Apple -->

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="{{page.baseurl}}public/css/main.css">
<link type="text/css" rel="stylesheet" href="{{page.baseurl}}public/css/custom.css">
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<!-- Font -->
<script type="text/javascript" src="//use.typekit.net/wnb6tjo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
