<section class="partial metrics">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="metrics">

<div class="col-lg-4 col-md-4">
  <img src="{{page.baseurl}}public/images/rocket.png" width="150" height="150" alt="Recent milestones">

  <p>
    Our <span id="name-milestone"><i class="fa fa-spinner fa-spin"></i></span> release launched on <span id="date-milestone"><i class="fa fa-spinner fa-spin"></i></span>. <a href="{{site.github.milestones}}">See what's coming next.</a>
  </p>
</div>

<div class="col-lg-4 col-md-4">
  <img src="{{page.baseurl}}public/images/ready.png" width="168" height="168" alt="Our contributors">

  <p>
    <span id="num-contributors"><i class="fa fa-spinner fa-spin"></i></span> contributors have helped improve {{site.project.name}}. <a href="{{page.baseurl}}learn-more">Find out how you can help.</a>
  </p>
</div>

<div class="col-lg-4 col-md-4">
  <img src="{{page.baseurl}}public/images/responsive.png" width="150" height="150" alt="Recent work">

  <p>
    Our last code update was commited on <span id="date-commit"><i class="fa fa-spinner fa-spin"></i></span>. <a href="{{site.github.repo}}">Watch our repo to get updates.</a>
  </p>
</div>
</div>
</div>
</div>
</div>
</section>
