{% comment %}
  Puts the scroll-up button on every page with YAML front-matter
{% endcomment %}

{% for page in site.pages %}
  <a class="scroll-up" href="#"><i class="fa fa-chevron-up"></i></a>
{% endfor %}
