{% comment %}
Puts the scroll-up button on every page with front-matter except "layout: nil"
{% endcomment %}

{% if layout != "nil" %}
  <a class="scroll-up" href="#"><i class="fa fa-chevron-up"></i></a>
{% endif %}
